.image-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.image img {
  display: block;
}

.image img:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 870px) {
  .image-grid {
    padding: 0 165px;
  }

  .image {
    flex: 0 0 255px;
  }

  .image img {
    width: 255px;
  }
}

/* Portrait tablet and down */
@media (max-width: 869px) {
    .image-grid {
      padding: 0;
    }

    .image {
      flex: 0 0 157px;
    }

    .image img {
      width: 157px;
    }
}
