.full-component {
  display: flex;
  justify-content: center;
}

/* Desktop */
@media (min-width: 960px) {
    .full-component {
      gap: 30px;
      flex-direction: row;
    }
}

/* Small desktop and down */
@media (max-width: 959px) {
    .full-component {
      gap: 40px;
      flex-direction: column;
    }
}
